<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
    <mat-panel-title>
        Здания
    </mat-panel-title> 
    </mat-expansion-panel-header>     
    <button mat-raised-button color="primary" click="addBuilding()">Добавить здание <mat-icon>add</mat-icon></button>    
<!--     <mat-expansion-panel ngFor hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Здания
        </mat-panel-title> 
        </mat-expansion-panel-header>              
        
    </mat-expansion-panel> -->
</mat-expansion-panel> 