:host {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.container {
    display: flex;
    flex-direction: column;
    .track {
        display: flex;
        flex-direction: column;
        height: 192px;
        overflow-y: auto;
        .floor-item {
            cursor: pointer;
            padding: 6px; 
        }
    }
}