<div class="container">
    <button mat-flat-button color="primary" aria-label="Flor down">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
<!--       <div class="track hidden-scrollbar">
          <div *ngFor="let floorObj of engServ.scene.userData.buildings[0].floors.reverse()" class="floor-item">
            <button mat-raised-button class="d-flex flex-column justify-content-center align-items-center">{{floorObj.floor.id}}</button>
          </div>
      </div> -->
      <button mat-flat-button color="primary" aria-label="Floor down">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
</div>
